* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    background-color: burlywood;
    padding: 34px;
    n: auto;
}

.container h3 {
    text-align: center;
    margi
}